<!DOCTYPE html>
<html>
<head>
	<title>Ruby on Rails Tutorial Sample App | Home </title>
	<!-- head/html part added p.108 -->
</head>

<body>

<h1> (p.101) Sample App </h1>
<p>
	This is the ABOUT page for the 
<a href="http://railstutorial.org/"> Ruby on Rails Tutorial</a>
sample application.
</p>

<h1>(was edited manually, not added automatically) StaticPages#about</h1>
<p>Find me in app/views/static_pages/about.html.erb</p>

</body>
</html>
