<!-- p112 branch of original from p98-->
<% provide(:title, 'helpTitle') %>

<h1>(p.98) Help</h1>

<div style="p { line-height: 3; }">
  <p class="thendoit" style="p { line-height: 3; }">
  	Get help on the ruby on rails<br>
    tutorial at the <a href="http://railstutorial.org/help"> Rails Tutorial help page</a>. <br>
  To get help on this sample app, see the <br>
  <a href="http://railstutorial.org/book"> Rails Tutorial book<a>. </p>
</div>

<h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>
