<!DOCTYPE html>
<html>
<head>
	<title>Ruby on Rails Tutorial Sample App | Home </title>
	<!-- head/html part added p.107 -->
</head>

<body>

<h1>(p.98) Help</h1>
<p>
	Get help on the ruby on rails tutorial at the
	<a href="http://railstutorial.org/help"> Rails Tutorial help page</a>.

To get help on this sample app, see the
<a href="http://railstutorial.org/book"> Rails Tutorial book<a>.

<h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>

</body>
</html>
