<% provide(:title, 'HomeTitle') %>

<!DOCTYPE html>
<html>
<head>
	<title>Ruby on Rails Tutorial Sample App | Home </title>
	<!-- head/html part added p.107 -->
</head>

<body>
<h1> (p.96) Sample App </h1>
<h2> (p.109)Inserted title with <em>yield:</em> <%= yield(:title) %> </h2>
<h2> &lt;% provide(:title, 'someValue') %&gt;</h2>
<h2> &lt;%= yield(:title) %&gt;  (Embedded RuBy,ERB)</h2>
<p>
	This is the HOME page for the 
<a href="http://railstutorial.org/"> Ruby on Rails Tutorial</a>
sample application.
</p>

<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

</body>
</html>
