
<!-- p.285 -->
<% provide(:title, @user.name) %>


<div class="row">  <!-- P290 added 1/2 -->
	<aside class="span4">
		<section>


<h1> 
	<%= gravatar_for @user %>  <!-- p287 -->
	<%= @user.name %> 
</h1>


</section> </aside> </div> <!-- P290 added 2/2 -->




<!-- p.280 -->
<%= @user.name %>, <%= @user.email %> </code>
